html,
body {
  width: 99%;
  height: 99%;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: "Roboto", sans-serif;
  color: white;
  min-width: 200px;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
}

h1 {
  font-size: 42px;
}

input {
  outline: none;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

button {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

#error-message {
  color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hide {
  display: none;
}
